@inherits LayoutComponentBase

<div class="page">
    <header class="top-row px-4">
        <div class="brand">
            <svg class="brand-logo" viewBox="0 0 165 125" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M58.8857 106.712H110.096V73.844H58.8857V106.712ZM114.583 108.782L114.58 108.902C114.517 110.132 113.479 111.111 112.208 111.111H56.7739C55.4618 111.111 54.3982 110.068 54.3982 108.782V71.7737C54.3982 70.5275 55.3964 69.5098 56.6517 69.4475L56.7739 69.4445H112.208L112.33 69.4475C113.585 69.5098 114.583 70.5275 114.583 71.7737V108.782Z"/>
                <path d="M48.9781 116.582H118.846V63.9731H48.9781V116.582ZM127.315 120.002C127.315 122.719 125.133 124.93 122.416 124.998L122.286 125H45.5376C42.7606 125 40.5093 122.762 40.5093 120.002V60.5534C40.5093 57.7932 42.7606 55.5555 45.5376 55.5555H122.286L122.416 55.5571C125.133 55.6255 127.315 57.8363 127.315 60.5534V120.002Z"/>
                <path d="M59.3198 2.90355C68.6243 -0.640379 79.2454 -1.3169 89.2501 3.00026C98.5611 7.01812 106.795 15.1261 112.832 28.0614C118.162 27.4642 124.9 27.9237 130.928 31.0421C138.18 34.7938 143.687 42.0254 144.792 53.8006C157.513 58.5238 165.173 72.3745 164.282 85.2658C163.786 92.4338 160.664 99.4899 154.269 104.69C147.919 109.854 138.753 112.862 126.683 112.862V103.644C137.297 103.644 144.233 101.005 148.521 97.5175C152.764 94.0673 154.818 89.4697 155.153 84.6256C155.851 74.5185 149.135 64.0962 139.561 61.8232C137.361 61.301 135.886 59.35 135.831 57.1984C135.555 46.4744 131.285 41.5891 126.748 39.242C121.788 36.676 115.59 36.6878 111.277 37.645C108.754 38.2049 106.577 36.6965 105.772 34.7561C100.337 21.658 93.0271 14.6582 85.647 11.4735C78.2286 8.27233 70.1045 8.6506 62.556 11.5257C54.9746 14.4133 48.2292 19.7367 43.8297 25.9588C39.4106 32.2086 37.6481 38.9044 39.0352 44.7484C39.7144 47.6094 37.7756 50.2076 35.188 50.683C24.0054 52.7376 17.096 57.6169 13.2659 63.2144C9.41094 68.8481 8.35423 75.6699 9.71691 82.2148C12.4475 95.3294 24.7057 106.737 42.5194 103.708L44.0423 112.798C20.8887 116.735 4.39364 101.554 0.760993 84.1071C-1.05787 75.3712 0.301184 65.9188 5.73159 57.9827C10.6042 50.8617 18.5008 45.3257 29.4765 42.5074C28.9628 34.7576 31.8026 27.0793 36.3763 20.6108C41.8322 12.8947 50.048 6.435 59.3198 2.90355Z"/>
            </svg>
            <a class="brand-name" href="">NETFRAMES</a>
        </div>
        <div class="top-row-right">
            <a href="https://github.com/jorgedevs/NetFrames" target="_blank">About</a>
            <button class="theme-toggle" onclick="toggleTheme()" title="Toggle theme">
                <i id="theme-icon" class="bi bi-moon"></i>
            </button>
        </div>
    </header>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
